<!DOCTYPE html>
<html>
<head>
    <title>Список задач</title>
    <style>
        .high { color: red; }
        .medium { color: orange; }
        .low { color: green; }
    </style>
</head>
<body>
    <h1>Список задач</h1>
    <ul>
        {% for item in tasks %}
        <li>{{ item.id }}  {{ item.task }} {{ item.priority }} {{ item.complete }}</li>
        {% endfor %}
    </ul>
    <form method="POST" action="/add">
        <input type="text" name="task" placeholder="Добавить задачу">
        <select name="priority">
            <option value="2">Высокий</option>
            <option value="1">Средний</option>
            <option value="0">Низкий</option>
        </select>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>
